# Copie este arquivo para ".env" e ajuste os valores conforme necessario

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=openf1_data

# Caso de uso de demonstracao: GP da Italia 2023 (Monza)
SESSION_KEY=9159
MEETING_KEY=1219
YEAR=2023

LOG_LEVEL=INFO
